<div class="h-screen relative text-center">
  <div class="absolute left-0 right-0 bottom-0 top-0">
    <h1 class="font-[Pacifico] text-5xl font-bold text-opacity-70 mt-60 md:text-7xl duration-300">
      InvestTO
    </h1>
    
  </div>

  <div class="mx-5 mb-2 absolute bottom-0 left-0 right-0">
    <p class="bg-main text-white mx-auto p-2 rounded w-auto uppercase mb-2 cursor-pointer'">
      <%= link_to 'Sign in', new_user_session_path, class: 'cursor-pointer' %>
    </p>
    <p class="text-gray mx-auto p-2 rounded w-auto uppercase cursor-pointer'">
      <%= link_to 'Sign up', new_user_registration_path, class: 'cursor-pointer' %>
    </p>
  </div>
</div>
